DB_CONNECTION="host=localhost port=5432 user=postgres password=postgres dbname=finance_bot_development sslmode=disable"

FIREFLY_BASE_URL=http://localhost:8081/api/v1/
FIREFLY_TOKEN=xxx

MAIL_CLIENT_ADDRESS=imap.gmail.com:993
MAIL_CLIENT_USERNAME=email@gmail.com
MAIL_CLIENT_PASSWORD=password

TELEGRAM_BOT_TOKEN=xxx
TELEGRAM_USER_ID=123
TELEGRAM_POLLING_INTERVAL=5
