openapi: 3.0.0
info:
  contact:
    email: james@firefly-iii.org
    name: James Cole
    url: https://firefly-iii.org
  description: |
    This is the official documentation of the Firefly III API. You can find accompanying documentation on the website of Firefly III itself (see below). Please report any bugs or issues. This version of the API is live from version v4.7.9 and onwards. You may use the "Authorize" button to try the API below.
  license:
    name: AGPLv3
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  title: Firefly III API
  version: 1.4.0
servers:
- description: Firefly III demo site
  url: https://demo.firefly-iii.org/
security:
- firefly_iii_auth: []
tags:
- description: General system information, versions, and the currently logged in user.
  name: about
- description: All asset, expense and other accounts (and the metadata) together with
    related transactions, piggy banks and other objects.
  name: accounts
- description: All attachments of the authenticated user, including up- and downloading
    of the files.
  name: attachments
- description: All auto-complete endpoints.
  name: autocomplete
- description: The total available amount that is available for budgeting every period.
  name: available_budgets
- description: All bills by the user.
  name: bills
- description: Manage all the user&#039;s budgets
  name: budgets
- description: This endpoint delivers optimised data for charts and graphics.
  name: charts
- description: Manage all the user&#039;s categories
  name: categories
- description: Manage the global Firefly III configuration
  name: configuration
- description: Manage all currencies in the system, disable and enable them or add
    new ones.
  name: currencies
- description: Manage and run imports.
  name: import
- description: Manage links between transactions, and manage the type of links available.
  name: links
- description: Control all of the user&#039;s piggy banks, including money management
  name: piggy_banks
- description: Manage the user&#039;s preferences, including some hidden ones.
  name: preferences
- description: Manage the user&#039;s recurring transactions, trigger the creation
    of transactions and manage the settings.
  name: recurrences
- description: Manage all of the user&#039;s rules and trigger the execution of rules.
  name: rules
- description: Manage all of the user&#039;s groups of rules and trigger the execution
    of entire groups.
  name: rule_groups
- description: Search through the user&#039;s financial data.
  name: search
- description: Endpoint for sums, lists of numbers and other processed information.
  name: summary
- description: Manage all the user&#039;s tags.
  name: tags
- description: Manage all the user&#039;s transactions.
  name: transactions
- description: Manage the users registered within Firefly III.
  name: users
paths:
  /api/v1/about:
    get:
      description: |
        Returns general system information and versions of the (supporting) software.
      operationId: getAbout
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemInfo'
          description: The available system information
      summary: System information end point.
      tags:
      - about
  /api/v1/about/user:
    get:
      description: |
        Returns the currently authenticated user.
      operationId: getCurrentUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSingle'
          description: The user
      summary: Currently authenticated user endpoint.
      tags:
      - about
  /api/v1/accounts:
    get:
      description: |
        This endpoint returns a list of all the accounts owned by the authenticated user.
      operationId: listAccount
      parameters:
      - description: Page number. The default pagination is per 50 items.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          format: int32
          type: integer
        style: form
      - description: |
          A date formatted YYYY-MM-DD. When added to the request, Firefly III will show the account's balance on that day.
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Optional filter on the account type(s) returned
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/AccountTypeFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountArray'
          description: A list of accounts
      summary: List all accounts.
      tags:
      - accounts
    post:
      description: Creates a new account. The data required can be submitted as a
        JSON body or as a list of parameters (in key=value pairs, like a webform).
      operationId: storeAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Account'
        description: JSON array with the necessary account information or key=value
          pairs. See the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSingle'
          description: New account stored, result in response.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Create new account.
      tags:
      - accounts
  /api/v1/accounts/{id}:
    delete:
      description: |
        Will permanently delete an account. Any associated transactions and piggy banks are ALSO deleted. Cannot be recovered from.
      operationId: deleteAccount
      parameters:
      - description: The ID of the account.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "204":
          description: Account deleted
        "404":
          description: No such account
      summary: Permanently delete account.
      tags:
      - accounts
    get:
      description: |
        Returns a single account by its ID.
      operationId: getAccount
      parameters:
      - description: The ID of the account.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: |
          A date formatted YYYY-MM-DD. When added to the request, Firefly III will show the account's balance on that day.
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSingle'
          description: The requested account
        "404":
          description: Account not found
      summary: Get single account.
      tags:
      - accounts
    put:
      description: |
        Used to update a single account. All fields that are not submitted will be cleared (set to NULL). The model will tell you which fields are mandatory.
      operationId: updateAccount
      parameters:
      - description: The ID of the account.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Account'
        description: JSON array or formdata with updated account information. See
          the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSingle'
          description: Updated account stored, result in response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Update existing account.
      tags:
      - accounts
  /api/v1/accounts/{id}/piggy_banks:
    get:
      description: |
        This endpoint returns a list of all the piggy banks connected to the account.
      operationId: listPiggyBankByAccount
      parameters:
      - description: The ID of the account.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: Page number. The default pagination is per 50 items.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PiggyBankArray'
          description: A list of piggy banks
      summary: List all piggy banks related to the account.
      tags:
      - accounts
  /api/v1/accounts/{id}/transactions:
    get:
      description: |
        This endpoint returns a list of all the transactions connected to the account.
      operationId: listTransactionByAccount
      parameters:
      - description: The ID of the account.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: Page number. The default pagination is per 50 items.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Limits the number of results on one page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 5
          type: integer
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: Optional filter on the transaction type(s) returned.
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/TransactionTypeFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
          description: A list of transactions
      summary: List all transactions related to the account.
      tags:
      - accounts
  /api/v1/accounts/{id}/attachments:
    get:
      description: Lists all attachments.
      operationId: listAttachmentByAccount
      parameters:
      - description: The ID of the account.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
          description: A list of attachments
        "404":
          description: No such account.
      summary: Lists all attachments.
      tags:
      - accounts
  /api/v1/attachments:
    get:
      description: |
        This endpoint lists all attachments.
      operationId: listAttachment
      parameters:
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
          description: A list of attachments.
      summary: List all attachments.
      tags:
      - attachments
    post:
      description: |
        Creates a new attachment. The data required can be submitted as a JSON body or as a list of parameters. You cannot use this endpoint to upload the actual file data (see below). This endpoint only creates the attachment object.
      operationId: storeAttachment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attachment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Attachment'
        description: JSON array or key=value pairs with the necessary attachment information.
          See the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentSingle'
          description: New attachment stored, result in response.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Store a new attachment.
      tags:
      - attachments
  /api/v1/attachments/{id}:
    delete:
      description: |
        With this endpoint you delete an attachment, including any stored file data.
      operationId: deleteAttachment
      parameters:
      - description: The ID of the single.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "204":
          description: Attachment deleted.
        "404":
          description: No such attachment
      summary: Delete an attachment.
      tags:
      - attachments
    get:
      description: |
        Get a single attachment. This endpoint only returns the available metadata for the attachment. Actual file data is handled in two other endpoints (see below).
      operationId: getAttachment
      parameters:
      - description: The ID of the attachment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentSingle'
          description: The requested attachment
        "404":
          description: Attachment not found
      summary: Get a single attachment.
      tags:
      - attachments
    put:
      description: |
        Update the meta data for an existing attachment. This endpoint does not allow you to upload or download data. For that, see below.
      operationId: updateAttachment
      parameters:
      - description: The ID of the attachment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attachment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Attachment'
        description: JSON array with updated attachment information. See the model
          for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentSingle'
          description: Updated attachment stored, result in response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Update existing attachment.
      tags:
      - attachments
  /api/v1/attachments/{id}/download:
    get:
      description: |
        This endpoint allows you to download the binary content of a transaction. It will be sent to you as a download, using the content type "application/octet-stream" and content disposition "attachment; filename=example.pdf".
      operationId: downloadAttachment
      parameters:
      - description: The ID of the attachment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The requested attachment
        "404":
          description: File not found
      summary: Download a single attachment.
      tags:
      - attachments
  /api/v1/attachments/{id}/upload:
    post:
      description: |
        Use this endpoint to upload (and possible overwrite) the file contents of an attachment. Simply put the entire file in the body as binary data.
      operationId: uploadAttachment
      parameters:
      - description: The ID of the attachment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
      responses:
        "204":
          description: Upload was a success
        "404":
          description: File not found
        "422":
          description: Upload invalid or empty file.
      summary: Upload an attachment.
      tags:
      - attachments
  /api/v1/autocomplete/accounts:
    get:
      operationId: getAccountsAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The autocomplete number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: For asset accounts, returns the balance on this date.
        example: 2020-09-17
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: Optional filter on the account type(s) returned
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/AccountTypeFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteAccountArray'
          description: A list of accounts with very basic information.
      summary: All accounts of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/bills:
    get:
      operationId: getBillsAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The autocomplete number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteBillArray'
          description: A list of bills with very basic information.
      summary: All bills of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/budgets:
    get:
      operationId: getBudgetsAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The autocomplete number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteBudgetArray'
          description: A list of budgets with very basic information.
      summary: All budgets of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/categories:
    get:
      operationId: getCategoriesAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The autocomplete number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteCategoryArray'
          description: A list of categories with very basic information.
      summary: All categories of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/currencies:
    get:
      operationId: getCurrenciesAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The autocomplete number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteCurrencyArray'
          description: A list of currencies with very basic information.
      summary: All currencies of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/currencies-with-code:
    get:
      operationId: getCurrenciesCodeAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The autocomplete number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteCurrencyCodeArray'
          description: A list of currencies with very basic information and the currency
            code between brackets.
      summary: All currencies of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/object-groups:
    get:
      operationId: getObjectGroupsAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The autocomplete number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteObjectGroupArray'
          description: A list of object groups with very basic information.
      summary: All object groups of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/piggy-banks:
    get:
      operationId: getPiggiesAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The autocomplete number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompletePiggyArray'
          description: A list of piggy banks with very basic information.
      summary: All piggy banks of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/piggy-banks-with-balance:
    get:
      operationId: getPiggiesBalanceAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The autocomplete number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompletePiggyBalanceArray'
          description: A list of piggy banks with very basic balance information.
      summary: All piggy banks of the user returned in a basic auto-complete array
        complemented with balance information.
      tags:
      - autocomplete
  /api/v1/autocomplete/rules:
    get:
      operationId: getRulesAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The autocomplete number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteRuleArray'
          description: A list of rules with very basic information.
      summary: All rules of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/rule-groups:
    get:
      operationId: getRuleGroupsAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The autocomplete number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteRuleGroupArray'
          description: A list of rule groups with very basic information.
      summary: All rule groups of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/tags:
    get:
      operationId: getTagAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The autocomplete number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTagArray'
          description: A list of tags with very basic information.
      summary: All tags of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/transactions:
    get:
      operationId: getTransactionsAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The autocomplete number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTransactionArray'
          description: A list of transaction descriptions with very basic information.
      summary: All transaction descriptions of the user returned in a basic auto-complete
        array.
      tags:
      - autocomplete
  /api/v1/autocomplete/transactions-with-id:
    get:
      operationId: getTransactionsIDAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The autocomplete number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTransactionIDArray'
          description: A list of transactions with very basic information.
      summary: All transactions, complemented with their ID, of the user returned
        in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/transaction-types:
    get:
      operationId: getTransactionTypesAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The autocomplete number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTransactionTypeArray'
          description: A list of transaction types with very basic information.
      summary: All transaction types returned in a basic auto-complete array. English
        only.
      tags:
      - autocomplete
  /api/v1/available_budgets:
    get:
      description: |
        Firefly III allows users to set the amount that is available to be budgeted in so-called "available budgets". For example, the user could have 1200,- available to be divided during the coming month. This amount is used on the /budgets page. This endpoint returns all of these amounts and the periods for which they are set.
      operationId: listAvailableBudget
      parameters:
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-12-31
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableBudgetArray'
          description: A list of available budget amounts.
      summary: List all available budget amounts.
      tags:
      - available_budgets
    post:
      description: |
        Creates a new available budget for a specified period. The data required can be submitted as a JSON body or as a list of parameters.
      operationId: storeAvailableBudget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailableBudget'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AvailableBudget'
        description: JSON array or key=value pairs with the necessary available budget
          information. See the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableBudgetSingle'
          description: New available budget stored, result in response.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Store a new available budget
      tags:
      - available_budgets
  /api/v1/available_budgets/{id}:
    delete:
      description: Delete an available budget. Not much more to say.
      operationId: deleteAvailableBudget
      parameters:
      - description: The ID of the available budget.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "204":
          description: Available budget deleted.
        "404":
          description: No such available budget.
      summary: Delete an available budget.
      tags:
      - available_budgets
    get:
      description: Get a single available budget, by ID.
      operationId: getAvailableBudget
      parameters:
      - description: The ID of the available budget.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableBudgetSingle'
          description: The requested available budget
        "404":
          description: AvailableBudget not found
      summary: Get a single available budget.
      tags:
      - available_budgets
    put:
      description: Update existing available budget.
      operationId: updateAvailableBudget
      parameters:
      - description: The ID of the object.X
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AvailableBudget'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AvailableBudget'
        description: JSON array or form value with updated available budget information.
          See the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableBudgetSingle'
          description: Updated available budget stored, result in response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Update existing available budget, to change for example the date range
        of the amount or the amount itself.
      tags:
      - available_budgets
  /api/v1/bills:
    get:
      description: This endpoint will list all the user's bills.
      operationId: listBill
      parameters:
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: |
          A date formatted YYYY-MM-DD. If it is are added to the request, Firefly III will calculate the appropriate payment and paid dates.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD. If it is added to the request, Firefly III will calculate the appropriate payment and paid dates.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-12-31
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillArray'
          description: A list of bills
      summary: List all bills.
      tags:
      - bills
    post:
      description: Creates a new bill. The data required can be submitted as a JSON
        body or as a list of parameters.
      operationId: storeBill
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bill'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Bill'
        description: JSON array or key=value pairs with the necessary bill information.
          See the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillSingle'
          description: New bill stored, result in response.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Store a new bill
      tags:
      - bills
  /api/v1/bills/{id}:
    delete:
      description: Delete a bill. This will not delete any associated rules. Will
        not remove associated transactions. WILL remove all associated attachments.
      operationId: deleteBill
      parameters:
      - description: The ID of the bill.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "204":
          description: Bill deleted.
        "404":
          description: No such bill
      summary: Delete a bill.
      tags:
      - bills
    get:
      description: Get a single bill.
      operationId: getBill
      parameters:
      - description: The ID of the bill.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: |
          A date formatted YYYY-MM-DD. If it is are added to the request, Firefly III will calculate the appropriate payment and paid dates.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD. If it is added to the request, Firefly III will calculate the appropriate payment and paid dates.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-12-31
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillSingle'
          description: The requested bill
        "404":
          description: Bill not found
      summary: Get a single bill.
      tags:
      - bills
    put:
      description: Update existing bill.
      operationId: updateBill
      parameters:
      - description: The ID of the bill.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bill'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Bill'
        description: JSON array or key=value pairs with updated bill information.
          See the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillSingle'
          description: Updated bill stored, result in response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Update existing bill.
      tags:
      - bills
  /api/v1/bills/{id}/attachments:
    get:
      description: This endpoint will list all attachments linked to the bill.
      operationId: listAttachmentByBill
      parameters:
      - description: The ID of the bill.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
          description: A list of attachments
      summary: List all attachments uploaded to the bill.
      tags:
      - bills
  /api/v1/bills/{id}/rules:
    get:
      description: This endpoint will list all rules that have an action to set the
        bill to this bill.
      operationId: listRuleByBill
      parameters:
      - description: The ID of the bill.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleArray'
          description: A list of rules
      summary: List all rules associated with the bill.
      tags:
      - bills
  /api/v1/bills/{id}/transactions:
    get:
      description: This endpoint will list all transactions linked to this bill.
      operationId: listTransactionByBill
      parameters:
      - description: The ID of the bill.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-12-31
          format: date
          type: string
        style: form
      - description: Optional filter on the transaction type(s) returned
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/TransactionTypeFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
          description: A list of transactions
      summary: List all transactions associated with the  bill.
      tags:
      - bills
  /api/v1/budgets:
    get:
      description: List all the budgets the user has made. If the start date and end
        date are submitted as well, the "spent" array will be updated accordingly.
      operationId: listBudget
      parameters:
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: |
          A date formatted YYYY-MM-DD, to get info on how much the user has spent. You must submit both start and end.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD, to get info on how much the user has spent. You must submit both start and end.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-12-31
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetArray'
          description: A list of budgets.
      summary: List all budgets.
      tags:
      - budgets
    post:
      description: Creates a new budget. The data required can be submitted as a JSON
        body or as a list of parameters.
      operationId: storeBudget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Budget'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Budget'
        description: JSON array or key=value pairs with the necessary budget information.
          See the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetSingle'
          description: New budget stored, result in response.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Store a new budget
      tags:
      - budgets
  /api/v1/budgets/{id}:
    delete:
      description: Delete a budget. Transactions will not be deleted.
      operationId: deleteBudget
      parameters:
      - description: The ID of the budget.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      responses:
        "204":
          description: Budget deleted.
        "404":
          description: No such budget
      summary: Delete a budget.
      tags:
      - budgets
    get:
      description: Get a single budget. If the start date and end date are submitted
        as well, the "spent" array will be updated accordingly.
      operationId: getBudget
      parameters:
      - description: The ID of the requested budget.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: |
          A date formatted YYYY-MM-DD, to get info on how much the user has spent.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD, to get info on how much the user has spent.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-12-31
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetSingle'
          description: The requested budget
        "404":
          description: Budget not found.
      summary: Get a single budget.
      tags:
      - budgets
    put:
      description: Update existing budget. This endpoint cannot be used to set budget
        amount limits.
      operationId: updateBudget
      parameters:
      - description: The ID of the budget.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Budget'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Budget'
        description: JSON array with updated budget information. See the model for
          the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetSingle'
          description: Updated budget stored, result in response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Update existing budget.
      tags:
      - budgets
  /api/v1/budgets/{id}/transactions:
    get:
      description: Get all transactions linked to a budget, possibly limited by start
        and end
      operationId: listTransactionByBudget
      parameters:
      - description: The ID of the budget.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: Limits the number of results on one page.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 5
          type: integer
        style: form
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-12-31
          format: date
          type: string
        style: form
      - description: Optional filter on the transaction type(s) returned
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/TransactionTypeFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
          description: A list of transactions.
      summary: All transactions to a budget.
      tags:
      - budgets
  /api/v1/budgets/{id}/limits:
    get:
      description: |
        Get all budget limits for this budget and the money spent, and money left. You can limit the list by submitting a date range as well. The "spent" array for each budget limit is NOT influenced by the start and end date of your query, but by the start and end date of the budget limit itself.
      operationId: listBudgetLimitByBudget
      parameters:
      - description: The ID of the requested budget.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-12-31
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLimitArray'
          description: A list of budget limits applicable to this budget.
      summary: Get all limits
      tags:
      - budgets
    post:
      description: Store a new budget limit.
      operationId: storeBudgetLimit
      parameters:
      - description: The ID of the budget.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLimit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BudgetLimit'
        description: JSON array or key=value pairs with the necessary budget information.
          See the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLimitSingle'
          description: New budget limit stored, result in response.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Store new budget limit.
      tags:
      - budgets
  /api/v1/budgets/limits/{id}:
    delete:
      description: Delete a budget limit.
      operationId: deleteBudgetLimit
      parameters:
      - description: The ID of the requested budget limit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      responses:
        "204":
          description: Budget limit deleted.
        "404":
          description: No such budget limit
      summary: Delete a budget limit.
      tags:
      - budgets
    get:
      operationId: getBudgetLimit
      parameters:
      - description: The ID of the requested budget limit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLimitSingle'
          description: The requested budget limit
        "404":
          description: Budget limit not found.
      summary: Get single budget limit.
      tags:
      - budgets
    put:
      description: Update existing budget limit.
      operationId: updateBudgetLimit
      parameters:
      - description: The ID of the requested budget limit. The budget limit MUST be
          associated to the budget ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BudgetLimit'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BudgetLimit'
        description: JSON array with updated budget limit information. See the model
          for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLimitSingle'
          description: Updated budget limit stored, result in response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Update existing budget limit.
      tags:
      - budgets
  /api/v1/budgets/limits/{id}/transactions:
    get:
      description: List all the transactions within one budget limit. The start and
        end date are dictated by the budget limit.
      operationId: listTransactionByBudgetLimit
      parameters:
      - description: The ID of the requested budget limit.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Optional filter on the transaction type(s) returned
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/TransactionTypeFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
          description: A list of transactions.
      summary: List all transactions by a budget limit ID.
      tags:
      - budgets
  /api/v1/budgets/{id}/attachments:
    get:
      description: Lists all attachments.
      operationId: listAttachmentByBudget
      parameters:
      - description: The ID of the budget.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
          description: A list of attachments
        "404":
          description: No such budget.
      summary: Lists all attachments.
      tags:
      - budgets
  /api/v1/categories:
    get:
      description: List all categories.
      operationId: listCategory
      parameters:
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryArray'
          description: A list of categories.
      summary: List all categories.
      tags:
      - categories
    post:
      description: Creates a new category. The data required can be submitted as a
        JSON body or as a list of parameters.
      operationId: storeCategory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Category'
        description: JSON array or key=value pairs with the necessary category information.
          See the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategorySingle'
          description: New category stored, result in response.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Store a new category
      tags:
      - categories
  /api/v1/categories/{id}:
    delete:
      description: Delete a category. Transactions will not be removed.
      operationId: deleteCategory
      parameters:
      - description: The ID of the category.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "204":
          description: Category deleted.
        "404":
          description: No such category.
      summary: Delete a category.
      tags:
      - categories
    get:
      description: Get a single category.
      operationId: getCategory
      parameters:
      - description: The ID of the category.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: |
          A date formatted YYYY-MM-DD, to show spent and earned info.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD, to show spent and earned info.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-12-31
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategorySingle'
          description: The requested category
        "404":
          description: Category not found
      summary: Get a single category.
      tags:
      - categories
    put:
      description: Update existing category.
      operationId: updateCategory
      parameters:
      - description: The ID of the category.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Category'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Category'
        description: JSON array with updated category information. See the model for
          the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategorySingle'
          description: Updated category stored, result in response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Update existing category.
      tags:
      - categories
  /api/v1/categories/{id}/transactions:
    get:
      description: List all transactions in a category, optionally limited to the
        date ranges specified.
      operationId: listTransactionByCategory
      parameters:
      - description: The ID of the category.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: Page number. The default pagination is per 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: |
          A date formatted YYYY-MM-DD, to limit the result list.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD, to limit the result list.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-12-31
          format: date
          type: string
        style: form
      - description: Optional filter on the transaction type(s) returned
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/TransactionTypeFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
          description: A list of transactions.
      summary: List all transactions in a category.
      tags:
      - categories
  /api/v1/categories/{id}/attachments:
    get:
      description: Lists all attachments.
      operationId: listAttachmentByCategory
      parameters:
      - description: The ID of the category.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
          description: A list of attachments
        "404":
          description: No such category.
      summary: Lists all attachments.
      tags:
      - categories
  /api/v1/chart/ab/overview/{id}:
    get:
      description: |
        This endpoint returns the data required to generate a pie chart for the available budget.
      operationId: getChartABOverview
      parameters:
      - description: The ID of the available budget.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartLine'
          description: Pie chart oriented chart information. Check out the model for
            more details. Each entry is a piece of the pie in the chart.
      summary: Dashboard chart with an overview of the available budget.
      tags:
      - charts
  /api/v1/chart/account/overview:
    get:
      description: |
        This endpoint returns the data required to generate a chart with basic asset account balance information.
      operationId: getChartAccountOverview
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartLine'
          description: Line chart oriented chart information. Check out the model
            for more details. Each entry is a line (or bar) in the chart.
      summary: Dashboard chart with asset account balance information.
      tags:
      - charts
  /api/v1/chart/account/expense:
    get:
      description: |
        This endpoint returns the data required to generate a chart that shows the user how much they've spent on their expense accounts.
      operationId: getChartAccountExpense
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartBar'
          description: Bar chart oriented chart information. Check out the model for
            more details. Each entry is a line (or bar) in the chart.
      summary: Dashboard chart with expense account balance information.
      tags:
      - charts
  /api/v1/chart/account/revenue:
    get:
      description: |
        This endpoint returns the data required to generate a chart that shows the user how much they've earned from their revenue accounts.
      operationId: getChartAccountRevenue
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartBar'
          description: Bar chart oriented chart information. Check out the model for
            more details. Each entry is a line (or bar) in the chart.
      summary: Dashboard chart with revenue account balance information.
      tags:
      - charts
  /api/v1/chart/category/overview:
    get:
      description: |
        This endpoint returns the data required to generate a bar chart for the expenses and incomes on the users categories.
      operationId: getChartCategoryOverview
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartLine'
          description: Bar chart oriented chart information. Check out the model for
            more details. Each entry is a set of bars in the chart.
      summary: Dashboard chart with an overview of the users categories.
      tags:
      - charts
  /api/v1/configuration:
    get:
      description: Get system configuration
      operationId: getConfiguration
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration'
          description: System configuration
      summary: Get Firefly III system configuration.
      tags:
      - configuration
  /api/v1/configuration/{name}:
    post:
      description: Set a single config value.
      operationId: setConfiguration
      parameters:
      - description: The configuration value name.
        explode: false
        in: path
        name: name
        required: true
        schema:
          enum:
          - is_demo_site
          - last_update_check
          - single_user_mode
          example: single_user_mode
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ConfigurationUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurationUpdate'
        description: JSON array with the necessary account information or key=value
          pairs. See the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Configuration'
          description: New config stored, result in response.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Update configuration
      tags:
      - configuration
  /api/v1/currencies:
    get:
      description: List all currencies.
      operationId: listCurrency
      parameters:
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyArray'
          description: A list of currencies.
      summary: List all currencies.
      tags:
      - currencies
    post:
      description: Creates a new currency. The data required can be submitted as a
        JSON body or as a list of parameters.
      operationId: storeCurrency
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Currency'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Currency'
        description: JSON array or key=value pairs with the necessary currency information.
          See the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencySingle'
          description: New currency stored, result in response.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Store a new currency
      tags:
      - currencies
  /api/v1/currencies/{code}/enable:
    post:
      description: Enable a single currency.
      operationId: enableCurrency
      parameters:
      - description: The currency code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: USD
          format: string
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencySingle'
          description: Currency was enabled.
      summary: Enable a single currency.
      tags:
      - currencies
  /api/v1/currencies/{code}/disable:
    post:
      description: Disable a currency.
      operationId: disableCurrency
      parameters:
      - description: The currency code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencySingle'
          description: Currency was disabled.
        "409":
          description: Currency cannot be disabled, because it is still in use.
      summary: Disable a currency.
      tags:
      - currencies
  /api/v1/currencies/{code}/default:
    post:
      description: Make this currency the default currency. If the currency is not
        enabled, it will be enabled as well.
      operationId: defaultCurrency
      parameters:
      - description: The currency code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: USD
          format: string
          type: string
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencySingle'
          description: Currency has been made the default currency.
      summary: Make currency default currency.
      tags:
      - currencies
  /api/v1/currencies/{code}:
    delete:
      description: Delete a currency.
      operationId: deleteCurrency
      parameters:
      - description: The currency code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: GBP
          format: string
          type: string
        style: simple
      responses:
        "204":
          description: Currency deleted.
        "404":
          description: No such currency
      summary: Delete a currency.
      tags:
      - currencies
    get:
      description: Get a single currency.
      operationId: getCurrency
      parameters:
      - description: The currency code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: USD
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencySingle'
          description: The requested currency
        "404":
          description: Currency not found
      summary: Get a single currency.
      tags:
      - currencies
    put:
      description: Update existing currency.
      operationId: updateCurrency
      parameters:
      - description: The currency code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: EUR
          format: string
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Currency'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Currency'
        description: JSON array with updated currency information. See the model for
          the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencySingle'
          description: Updated currency stored, result in response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Update existing currency.
      tags:
      - currencies
  /api/v1/currencies/{code}/accounts:
    get:
      description: List all accounts with this currency.
      operationId: listAccountByCurrency
      parameters:
      - description: The currency code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: USD
          format: string
          type: string
        style: simple
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: |
          A date formatted YYYY-MM-DD. When added to the request, Firefly III will show the account's balance on that day.
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: Optional filter on the account type(s) returned
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/AccountTypeFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountArray'
          description: A list of accounts
      summary: List all accounts with this currency.
      tags:
      - currencies
  /api/v1/currencies/{code}/available_budgets:
    get:
      description: List all available budgets with this currency.
      operationId: listAvailableBudgetByCurrency
      parameters:
      - description: The currency code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: EUR
          format: string
          type: string
        style: simple
      - description: Page number. The default pagination is 50
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableBudgetArray'
          description: A list of available budgets
      summary: List all available budgets with this currency.
      tags:
      - currencies
  /api/v1/currencies/{code}/bills:
    get:
      description: List all bills with this currency.
      operationId: listBillByCurrency
      parameters:
      - description: The currency code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: USD
          format: string
          type: string
        style: simple
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillArray'
          description: A list of bills.
      summary: List all bills with this currency.
      tags:
      - currencies
  /api/v1/currencies/{code}/budget_limits:
    get:
      description: List all budget limits with this currency
      operationId: listBudgetLimitByCurrency
      parameters:
      - description: The currency code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: USD
          format: string
          type: string
        style: simple
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: Start date for the budget limit list.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-01-01
          format: date
          type: string
        style: form
      - description: End date for the budget limit list.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-01-31
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BudgetLimitArray'
          description: A list of budget limits.
      summary: List all budget limits with this currency
      tags:
      - currencies
  /api/v1/currencies/{code}/cer:
    get:
      description: List all known exchange rates.
      operationId: listExchangeRateByCurrency
      parameters:
      - description: The currency code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: GBP
          format: string
          type: string
        style: simple
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: |
          The date of which you want to know the exchange rate
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          Use this instead of the date parameter to search for a range of currency exchange values.
        explode: true
        in: query
        name: start
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          Use this instead of the date parameter to search for a range of currency exchange values.
        explode: true
        in: query
        name: end
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateArray'
          description: A list of exchange rates
      summary: List all known exchange rates with (from or to) this currency.
      tags:
      - currencies
  /api/v1/currencies/{code}/recurrences:
    get:
      description: List all recurring transactions with this currency.
      operationId: listRecurrenceByCurrency
      parameters:
      - description: The currency code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: EUR
          format: string
          type: string
        style: simple
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurrenceArray'
          description: A list of recurring transactions
      summary: List all recurring transactions with this currency.
      tags:
      - currencies
  /api/v1/currencies/{code}/rules:
    get:
      description: List all rules with this currency.
      operationId: listRuleByCurrency
      parameters:
      - description: The currency code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: USD
          format: string
          type: string
        style: simple
      - description: Page number. The default pagination per 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleArray'
          description: A list of rules
      summary: List all rules with this currency.
      tags:
      - currencies
  /api/v1/currencies/{code}/transactions:
    get:
      description: List all transactions with this currency.
      operationId: listTransactionByCurrency
      parameters:
      - description: The currency code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          example: USD
          format: string
          type: string
        style: simple
      - description: Page number. The default pagination is per 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: |
          A date formatted YYYY-MM-DD, to limit the list of transactions.
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD, to limit the list of transactions.
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          example: 2018-12-31
          format: date
          type: string
        style: form
      - description: Optional filter on the transaction type(s) returned
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/TransactionTypeFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
          description: A list of transactions.
      summary: List all transactions with this currency.
      tags:
      - currencies
  /api/v1/currencies/default:
    get:
      description: Get the user's default currency.
      operationId: getDefaultCurrency
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencySingle'
          description: The default currency
      summary: Get the user's default currency.
      tags:
      - currencies
  /api/v1/data/destroy:
    delete:
      description: |
        A call to this endpoint permanently destroys the requested data type. Use it with care and always with user permission.
        The demo user is incapable of using this endpoint.
      operationId: destroyData
      parameters:
      - description: The type of data that you wish to destroy.
        explode: true
        in: query
        name: objects
        required: true
        schema:
          $ref: '#/components/schemas/DataDestroyObject'
        style: form
      responses:
        "204":
          description: Empty response when data has been destroyed.
        "500":
          description: Internal error, or user is unauthorized to destroy data.
      summary: Endpoint to destroy user data
      tags:
      - data
  /api/v1/import/list:
    get:
      description: List all imports
      operationId: listImport
      parameters:
      - description: Page number. The default pagination is per 50 items.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJobArray'
          description: A list of import jobs.
      summary: List al imports
      tags:
      - import
  /api/v1/import/{key}:
    get:
      description: Show info on single import.
      operationId: getImport
      parameters:
      - description: The job key of an import job.
        explode: false
        in: path
        name: key
        required: true
        schema:
          example: x2Akaijm2
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJobSingle'
          description: The requested import job
        "404":
          description: Import job not found
      summary: Show info on a single import
      tags:
      - import
  /api/v1/import/{key}/transactions:
    get:
      description: |
        See summary
      operationId: listTransactionByImport
      parameters:
      - description: The key of the import job
        explode: false
        in: path
        name: key
        required: true
        schema:
          example: abcde
          format: string
          type: string
        style: simple
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: |
          A date formatted YYYY-MM-DD. This is the start date of the selected range (inclusive).
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD. This is the end date of the selected range (inclusive).
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: Optional filter on the transaction type(s) returned.
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/TransactionTypeFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
          description: A list of transactions.
      summary: List all transactions related to the import job. The correlation is
        made through the tag.
      tags:
      - import
  /api/v1/link_types:
    get:
      description: |
        List all the link types the system has. These include the default ones as well as any new ones.
      operationId: listLinkType
      parameters:
      - description: Page number. The default pagination is 50 items.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkTypeArray'
          description: A list of link types.
      summary: List all types of links.
      tags:
      - links
    post:
[...]
