openapi: 3.0.0
info:
  contact:
    email: james@firefly-iii.org
    name: James Cole
    url: https://firefly-iii.org
  description: |
    This is the documentation of the Firefly III API. You can find accompanying documentation on the website of Firefly III itself (see below). Please report any bugs or issues. You may use the "Authorize" button to try the API below. This file was last generated on 2021-05-14T15:49:56+00:00
  license:
    name: AGPLv3
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  title: Firefly III API v1.5.2
  version: 1.5.2
servers:
- description: Firefly III demo site
  url: https://demo.firefly-iii.org
security:
- firefly_iii_auth: []
tags:
- description: These endpoints deliver general system information, version- and meta
    information.
  name: about
- description: These endpoints allow you to manage and update the Firefly III configuration.
    You need to have the &quot;owner&quot; role to update configuration.
  name: configuration
- description: Use these endpoints to manage the users registered within Firefly III.
    You need to have the &quot;owner&quot; role to access these endpoints.
  name: users
- description: Auto-complete endpoints show basic information about Firefly III models,
    like the name and maybe some amounts. They all support a search query and can
    be used to autocomplete data in forms. Autocomplete return values always have
    a &quot;name&quot;-field.
  name: autocomplete
- description: The &quot;charts&quot; endpoints deliver optimised data for charts
    and graphs.
  name: charts
- description: The &quot;data&quot;-endpoints manage generic Firefly III and user-specific
    data.
  name: data
- description: The &quot;insight&quot; endpoints try to deliver sums, balances and
    insightful information in the broadest sense of the word.
  name: insight
- description: These endpoints deliver summaries, like sums, lists of numbers and
    other processed information. Mainly used for the main dashboard and pretty specific
    for Firefly III itself.
  name: summary
- description: Endpoints that allow you to search through the user&#039;s financial
    data. Different from the autocomplete endpoints, the search accepts more advanced
    arguments.
  name: search
- description: These endpoints can be used to manage the user&#039;s preferences,
    including some hidden ones.
  name: preferences
- description: These endpoints can be used to manage the user&#039;s webhooks and
    triggers them if necessary.
  name: webhooks
- description: Endpoints that deliver all of the user&#039;s asset, expense and other
    accounts (and the metadata) together with related transactions, piggy banks and
    other objects. Also delivers endpoints for CRUD operations for accounts.
  name: accounts
- description: Endpoints to manage the attachments of the authenticated user, including
    up- and downloading of the files.
  name: attachments
- description: Endpoints to manage the total available amount that the user has made
    available to themselves. Used in periodic budgeting.
  name: available_budgets
- description: Endpoints to manage a user&#039;s bills and all related objects.
  name: bills
- description: Endpoints to manage a user&#039;s budgets and get info on the related
    objects, like limits.
  name: budgets
- description: Endpoints to manage a user&#039;s categories and get information on
    transactions and other related objects.
  name: categories
- description: Endpoints to control and manage all of the user&#039;s object groups.
    Can only be created in conjunction with another object (for example a piggy bank)
    and will auto-delete when no other items are linked to it.
  name: object_groups
- description: Endpoints to control and manage all of the user&#039;s piggy banks
    and related objects and information.
  name: piggy_banks
- description: Use these endpoints to manage the user&#039;s recurring transactions,
    trigger the creation of transactions and manage the settings.
  name: recurrences
- description: These endpoints can be used to manage all of the user&#039;s rules.
    Also includes triggers to execute or test rules and individual triggers.
  name: rules
- description: Manage all of the user&#039;s groups of rules and trigger the execution
    of entire groups.
  name: rule_groups
- description: This endpoint manages all of the user&#039;s tags.
  name: tags
- description: The most-used endpoints in Firefly III, these endpoints are used to
    manage the user&#039;s transactions.
  name: transactions
- description: Endpoints to manage the currencies in Firefly III. Depending on the
    user&#039;s role you can also disable and enable them, or add new ones.
  name: currencies
- description: Endpoints to manage links between transactions, and manage the type
    of links available.
  name: links
paths:
  /api/v1/autocomplete/rule-groups:
    get:
      operationId: getRuleGroupsAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteRuleGroupArray'
          description: A list of rule groups with very basic information.
      summary: Returns all rule groups of the user returned in a basic auto-complete
        array.
      tags:
      - autocomplete
  /api/v1/autocomplete/categories:
    get:
      operationId: getCategoriesAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteCategoryArray'
          description: A list of categories with very basic information.
      summary: Returns all categories of the user returned in a basic auto-complete
        array.
      tags:
      - autocomplete
  /api/v1/autocomplete/transaction-types:
    get:
      operationId: getTransactionTypesAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTransactionTypeArray'
          description: A list of transaction types with very basic information.
      summary: Returns all transaction types returned in a basic auto-complete array.
        English only.
      tags:
      - autocomplete
  /api/v1/autocomplete/object-groups:
    get:
      operationId: getObjectGroupsAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteObjectGroupArray'
          description: A list of object groups with very basic information.
      summary: Returns all object groups of the user returned in a basic auto-complete
        array.
      tags:
      - autocomplete
  /api/v1/autocomplete/rules:
    get:
      operationId: getRulesAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteRuleArray'
          description: A list of rules with very basic information.
      summary: Returns all rules of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/transactions:
    get:
      operationId: getTransactionsAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTransactionArray'
          description: A list of transaction descriptions with very basic information.
      summary: Returns all transaction descriptions of the user returned in a basic
        auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/transactions-with-id:
    get:
      operationId: getTransactionsIDAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTransactionIDArray'
          description: A list of transactions with very basic information.
      summary: Returns all transactions, complemented with their ID, of the user returned
        in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/budgets:
    get:
      operationId: getBudgetsAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteBudgetArray'
          description: A list of budgets with very basic information.
      summary: Returns all budgets of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/piggy-banks:
    get:
      operationId: getPiggiesAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompletePiggyArray'
          description: A list of piggy banks with very basic information.
      summary: Returns all piggy banks of the user returned in a basic auto-complete
        array.
      tags:
      - autocomplete
  /api/v1/autocomplete/piggy-banks-with-balance:
    get:
      operationId: getPiggiesBalanceAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompletePiggyBalanceArray'
          description: A list of piggy banks with very basic balance information.
      summary: Returns all piggy banks of the user returned in a basic auto-complete
        array complemented with balance information.
      tags:
      - autocomplete
  /api/v1/autocomplete/currencies:
    get:
      operationId: getCurrenciesAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteCurrencyArray'
          description: A list of currencies with very basic information.
      summary: Returns all currencies of the user returned in a basic auto-complete
        array.
      tags:
      - autocomplete
  /api/v1/autocomplete/currencies-with-code:
    get:
      operationId: getCurrenciesCodeAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteCurrencyCodeArray'
          description: A list of currencies with very basic information and the currency
            code between brackets.
      summary: Returns all currencies of the user returned in a basic auto-complete
        array.
      tags:
      - autocomplete
  /api/v1/autocomplete/accounts:
    get:
      operationId: getAccountsAC
      parameters:
      - description: The autocomplete search query for accounts.
        example: query-string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      - description: If the account is an asset account or a liability, the autocomplete
          will also return the balance of the account on this date.
        example: 2020-09-17
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: Optional filter on the account type(s) used in the autocomplete.
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/AccountTypeFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteAccountArray'
          description: A list of accounts with very basic information.
      summary: Returns all accounts of the user returned in a basic auto-complete
        array.
      tags:
      - autocomplete
  /api/v1/autocomplete/tags:
    get:
      operationId: getTagAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTagArray'
          description: A list of tags with very basic information.
      summary: Returns all tags of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/bills:
    get:
      operationId: getBillsAC
      parameters:
      - description: The autocomplete search query for bills.
        example: query-string
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteBillArray'
          description: A list of bills with very basic information.
      summary: Returns all bills of the user returned in a basic auto-complete array.
      tags:
      - autocomplete
  /api/v1/autocomplete/recurring:
    get:
      operationId: getRecurringAC
      parameters:
      - description: The autocomplete search query.
        example: str
        explode: true
        in: query
        name: query
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The number of items returned.
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteRecurrenceArray'
          description: A list of recurring transactions with very basic information.
      summary: Returns all recurring transactions of the user returned in a basic
        auto-complete array.
      tags:
      - autocomplete
  /api/v1/chart/account/overview:
    get:
      description: |
        This endpoint returns the data required to generate a chart with basic asset account balance information.
      operationId: getChartAccountOverview
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartLine'
          description: Line chart oriented chart information. Check out the model
            for more details. Each entry is a line (or bar) in the chart.
      summary: Dashboard chart with asset account balance information.
      tags:
      - charts
  /api/v1/data/export/accounts:
    get:
      description: |
        This endpoint allows you to export your accounts from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportAccounts
      parameters:
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export account data from Firefly III
      tags:
      - data
  /api/v1/data/export/bills:
    get:
      description: |
        This endpoint allows you to export your bills from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportBills
      parameters:
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export bills from Firefly III
      tags:
      - data
  /api/v1/data/export/budgets:
    get:
      description: |
        This endpoint allows you to export your budgets and associated budget data from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportBudgets
      parameters:
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export budgets and budget amount data from Firefly III
      tags:
      - data
  /api/v1/data/export/categories:
    get:
      description: |
        This endpoint allows you to export your categories from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportCategories
      parameters:
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export category data from Firefly III
      tags:
      - data
  /api/v1/data/export/piggy-banks:
    get:
      description: |
        This endpoint allows you to export your piggy banks from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportPiggies
      parameters:
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export piggy banks from Firefly III
      tags:
      - data
  /api/v1/data/export/recurring:
    get:
      description: |
        This endpoint allows you to export your recurring transactions from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportRecurring
      parameters:
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export recurring transaction data from Firefly III
      tags:
      - data
  /api/v1/data/export/rules:
    get:
      description: |
        This endpoint allows you to export your rules and rule groups from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportRules
      parameters:
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export rule groups and rule data from Firefly III
      tags:
      - data
  /api/v1/data/export/tags:
    get:
      description: |
        This endpoint allows you to export your tags from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportTags
      parameters:
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export tag data from Firefly III
      tags:
      - data
  /api/v1/data/export/transactions:
    get:
      description: |
        This endpoint allows you to export transactions from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportTransactions
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          Limit the export of transactions to these accounts only. Only asset accounts will be accepted. Other types will be silently dropped.
        example: 1,2,3
        explode: false
        in: query
        name: accounts
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The file type the export file (CSV is currently the only option).
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The exported transaction in a file.
      summary: Export transaction data from Firefly III
      tags:
      - data
  /api/v1/data/destroy:
    delete:
      description: |
        A call to this endpoint permanently destroys the requested data type. Use it with care and always with user permission.
        The demo user is incapable of using this endpoint.
      operationId: destroyData
      parameters:
      - description: The type of data that you wish to destroy.
        explode: true
        in: query
        name: objects
        required: true
        schema:
          $ref: '#/components/schemas/DataDestroyObject'
        style: form
      responses:
        "204":
          description: Empty response when data has been destroyed.
        "500":
          description: Internal error, or user is unauthorized to destroy data.
      summary: Endpoint to destroy user data
      tags:
      - data
  /api/v1/data/bulk/accounts/transactions:
    post:
      description: |
        Allows you to move all from one account to another. Requires two of the exact same accounts to work. Will not migrate deleted transactions. Both accounts must be of the exact same type (asset accounts for example).
      operationId: bulkAccountMoveTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkAccountTransactionObject'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BulkAccountTransactionObject'
        description: JSON array with the necessary information to facilitate the move.
        required: true
      responses:
        "204":
          description: Empty response when the move was successful.
        "500":
          description: Internal error.
      summary: Bulk move transactions from one account to another.
      tags:
      - data
  /api/v1/insight/expense/bill:
    get:
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by (any) bill.
      operationId: insightExpenseBill
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The bills to be included in the results.
        explode: true
        in: query
        name: bills[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
          description: A list of budget and expense details. Each budget has one row
            per currency.
      summary: Insight into expenses, grouped by bill.
      tags:
      - insight
  /api/v1/insight/expense/no-bill:
    get:
      description: |
        This endpoint gives a summary of the expenses made by the user, including only expenses with no bill.
      operationId: insightExpenseNoBill
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
          description: A list of expense details. One row per currency.
      summary: Insight into expenses, without bill.
      tags:
      - insight
  /api/v1/insight/expense/total:
    get:
      description: |
        This endpoint gives a sum of the total expenses made by the user.
      operationId: insightExpenseTotal
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
          description: A list of sums in different currencies.
      summary: Insight into total expenses.
      tags:
      - insight
  /api/v1/insight/income/total:
    get:
      description: |
        This endpoint gives a sum of the total income received by the user.
      operationId: insightIncomeTotal
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
          description: A list of sums in different currencies.
      summary: Insight into total income.
      tags:
      - insight
  /api/v1/insight/transfer/total:
    get:
      description: |
        This endpoint gives a sum of the total amount transfers made by the user.
      operationId: insightTransferTotal
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only transfers between those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
          description: A list of sums in different currencies.
      summary: Insight into total transfers.
      tags:
      - insight
  /api/v1/insight/expense/category:
    get:
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by (any) category.
      operationId: insightExpenseCategory
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The categories to be included in the results.
        explode: true
        in: query
        name: categories[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
          description: A list of category and expense details. Each category has one
            row per currency.
      summary: Insight into expenses, grouped by category.
      tags:
      - insight
  /api/v1/insight/expense/no-category:
    get:
      description: |
        This endpoint gives a summary of the expenses made by the user, including only expenses with no category.
      operationId: insightExpenseNoCategory
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
          description: A list of expense details. One row per currency.
      summary: Insight into expenses, without category.
      tags:
      - insight
  /api/v1/insight/income/category:
    get:
      description: |
        This endpoint gives a summary of the income received by the user, grouped by (any) category.
      operationId: insightIncomeCategory
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The categories to be included in the results.
        explode: true
        in: query
        name: categories[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
          description: A list of category and income details. Each category has one
            row per currency.
      summary: Insight into income, grouped by category.
      tags:
      - insight
  /api/v1/insight/income/no-category:
    get:
      description: |
        This endpoint gives a summary of the income received by the user, including only income with no category.
      operationId: insightIncomeNoCategory
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
          description: A list of income details. One row per currency.
      summary: Insight into income, without category.
      tags:
      - insight
  /api/v1/insight/transfer/category:
    get:
      description: |
        This endpoint gives a summary of the transfers made by the user, grouped by (any) category.
      operationId: insightTransferCategory
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The categories to be included in the results.
        explode: true
        in: query
        name: categories[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only transfers between those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
          description: A list of category and transfer details. Each category has
            one row per currency.
      summary: Insight into transfers, grouped by category.
      tags:
      - insight
  /api/v1/insight/transfer/no-category:
    get:
      description: |
        This endpoint gives a summary of the transfers made by the user, including only transfers with no category.
      operationId: insightTransferNoCategory
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only transfers between those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
          description: A list of transfer details. One row per currency.
      summary: Insight into transfers, without category.
      tags:
      - insight
  /api/v1/insight/expense/expense:
    get:
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by expense account.
      operationId: insightExpenseExpense
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you add the accounts ID's of expense accounts, only those accounts
          are included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. You can combine both asset / liability and expense account ID's.
          Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
          description: A list of expense accounts and expense details. Each expense
            acccount has one row per currency.
      summary: Insight into expenses, grouped by expense account.
      tags:
      - insight
  /api/v1/insight/expense/asset:
    get:
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by asset account.
      operationId: insightExpenseAsset
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
          description: A list of asset accounts and expense details. Each asset account
            has one row per currency.
      summary: Insight into expenses, grouped by asset account.
      tags:
      - insight
  /api/v1/insight/income/revenue:
    get:
      description: |
        This endpoint gives a summary of the income received by the user, grouped by revenue account.
      operationId: insightIncomeRevenue
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you add the accounts ID's of revenue accounts, only those accounts
          are included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
          asset accounts / liabilities will be included. You can combine both asset / liability and deposit account ID's.
          Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
          description: A list of revenue accounts and income details. Each revenue
            acccount has one row per currency.
      summary: Insight into income, grouped by revenue account.
      tags:
      - insight
  /api/v1/insight/income/asset:
    get:
      description: |
        This endpoint gives a summary of the income received by the user, grouped by asset account.
      operationId: insightIncomeAsset
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
          description: A list of asset accounts and income details. Each asset account
            has one row per currency.
      summary: Insight into income, grouped by asset account.
      tags:
      - insight
  /api/v1/insight/transfer/asset:
    get:
      description: |
        This endpoint gives a summary of the transfers made by the user, grouped by asset account or lability.
      operationId: insightTransfers
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only transfers between those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTransfer'
          description: A list of asset accounts and transfer details. Each asset account
            has one row per currency.
      summary: Insight into transfers, grouped by account.
      tags:
      - insight
  /api/v1/insight/expense/budget:
    get:
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by (any) budget.
      operationId: insightExpenseBudget
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The budgets to be included in the results.
        explode: true
        in: query
        name: budgets[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
          description: A list of budget and expense details. Each budget has one row
            per currency.
      summary: Insight into expenses, grouped by budget.
      tags:
      - insight
  /api/v1/insight/expense/no-budget:
    get:
      description: |
        This endpoint gives a summary of the expenses made by the user, including only expenses with no budget.
      operationId: insightExpenseNoBudget
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
          description: A list of expense details. One row per currency.
      summary: Insight into expenses, without budget.
      tags:
      - insight
  /api/v1/insight/expense/tag:
    get:
      description: |
        This endpoint gives a summary of the expenses made by the user, grouped by (any) tag.
      operationId: insightExpenseTag
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The tags to be included in the results.
        explode: true
        in: query
        name: tags[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
          description: A list of tag and expense details. Each tag has one row per
            currency.
      summary: Insight into expenses, grouped by tag.
      tags:
      - insight
  /api/v1/insight/expense/no-tag:
    get:
      description: |
        This endpoint gives a summary of the expenses made by the user, including only expenses with no tag.
      operationId: insightExpenseNoTag
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only withdrawals from those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
          description: A list of expense details. One row per currency.
      summary: Insight into expenses, without tag.
      tags:
      - insight
  /api/v1/insight/income/tag:
    get:
      description: |
        This endpoint gives a summary of the income received by the user, grouped by (any) tag.
      operationId: insightIncomeTag
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The tags to be included in the results.
        explode: true
        in: query
        name: tags[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
          description: A list of tag and income details. Each tag has one row per
            currency.
      summary: Insight into income, grouped by tag.
      tags:
      - insight
  /api/v1/insight/income/no-tag:
    get:
      description: |
        This endpoint gives a summary of the income received by the user, including only income with no tag.
      operationId: insightIncomeNoTag
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only deposits to those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
          description: A list of income details. One row per currency.
      summary: Insight into income, without tag.
      tags:
      - insight
  /api/v1/insight/transfer/tag:
    get:
      description: |
        This endpoint gives a summary of the transfers created by the user, grouped by (any) tag.
      operationId: insightTransferTag
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The tags to be included in the results.
        explode: true
        in: query
        name: tags[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only transfers between those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
          description: A list of tag and transfer details. Each tag has one row per
            currency.
      summary: Insight into transfers, grouped by tag.
      tags:
      - insight
  /api/v1/insight/transfer/no-tag:
    get:
      description: |
        This endpoint gives a summary of the transfers made by the user, including only transfers with no tag.
      operationId: insightTransferNoTag
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-01
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        example: 2021-01-31
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          The accounts to be included in the results. If you include ID's of asset accounts or liabilities, only transfers from those
          asset accounts / liabilities will be included. Other account ID's will be ignored.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
          description: A list of transfer details. One row per currency.
      summary: Insight into expenses, without tag.
      tags:
      - insight
  /api/v1/summary/basic:
    get:
      description: |
        Returns basic sums of the users data, like the net worth, spent and earned amounts. It is multi-currency, and is used in Firefly III to populate the dashboard.
      operationId: getBasicSummary
      parameters:
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: true
        schema:
          format: date
          type: string
        style: form
      - description: |
          A currency code like EUR or USD, to filter the result.
        explode: true
        in: query
        name: currency_code
        required: false
        schema:
          format: string
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BasicSummary'
          description: An array of sums. It depends on the user what you can expect
            to get back, so please try this out on the demo site.
      summary: Returns basic sums of the users data.
      tags:
      - summary
  /api/v1/attachments:
    get:
      description: |
        This endpoint lists all attachments.
      operationId: listAttachment
      parameters:
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
          description: A list of attachments.
      summary: List all attachments.
      tags:
      - attachments
    post:
      description: |
        Creates a new attachment. The data required can be submitted as a JSON body or as a list of parameters. You cannot use this endpoint to upload the actual file data (see below). This endpoint only creates the attachment object.
      operationId: storeAttachment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentStore'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttachmentStore'
        description: JSON array or key=value pairs with the necessary attachment information.
          See the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AttachmentSingle'
          description: New attachment stored, result in response.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Store a new attachment.
      tags:
      - attachments
  /api/v1/attachments/{id}:
    delete:
      description: |
        With this endpoint you delete an attachment, including any stored file data.
      operationId: deleteAttachment
      parameters:
      - description: The ID of the single.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "204":
          description: Attachment deleted.
        "404":
          description: No such attachment
      summary: Delete an attachment.
      tags:
      - attachments
    get:
      description: |
        Get a single attachment. This endpoint only returns the available metadata for the attachment. Actual file data is handled in two other endpoints (see below).
      operationId: getAttachment
      parameters:
      - description: The ID of the attachment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AttachmentSingle'
          description: The requested attachment
        "404":
          description: Attachment not found
      summary: Get a single attachment.
      tags:
      - attachments
    put:
      description: |
        Update the meta data for an existing attachment. This endpoint does not allow you to upload or download data. For that, see below.
      operationId: updateAttachment
      parameters:
      - description: The ID of the attachment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttachmentUpdate'
        description: JSON array with updated attachment information. See the model
          for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AttachmentSingle'
          description: Updated attachment stored, result in response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Update existing attachment.
      tags:
      - attachments
  /api/v1/attachments/{id}/download:
    get:
      description: |
        This endpoint allows you to download the binary content of a transaction. It will be sent to you as a download, using the content type "application/octet-stream" and content disposition "attachment; filename=example.pdf".
      operationId: downloadAttachment
      parameters:
      - description: The ID of the attachment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: The requested attachment
        "404":
          description: File not found
      summary: Download a single attachment.
      tags:
      - attachments
  /api/v1/attachments/{id}/upload:
    post:
      description: |
        Use this endpoint to upload (and possible overwrite) the file contents of an attachment. Simply put the entire file in the body as binary data.
      operationId: uploadAttachment
      parameters:
      - description: The ID of the attachment.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
      responses:
        "204":
          description: Upload was a success
        "404":
          description: File not found
        "422":
          description: Upload invalid or empty file.
      summary: Upload an attachment.
      tags:
      - attachments
  /api/v1/rules/{id}/test:
    get:
      description: Test which transactions would be hit by the rule. No changes will
        be made. Limit the result if you want to.
      operationId: testRule
      parameters:
      - description: The ID of the rule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: |
          A date formatted YYYY-MM-DD, to limit the transactions the test will be applied to. Both the start date and the end date must be present.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD, to limit the transactions the test will be applied to. Both the start date and the end date must be present.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          Limit the testing of the rule to these asset accounts or liabilities. Only asset accounts and liabilities will be accepted. Other types will be silently dropped.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
          description: A list of transactions that would be changed by the rule. No
            changes will be made.
      summary: Test which transactions would be hit by the rule. No changes will be
        made.
      tags:
      - rules
  /api/v1/rules/{id}/trigger:
    post:
      description: Fire the rule group on your transactions. Changes will be made
        by the rules in the group! Limit the result if you want to.
      operationId: fireRule
      parameters:
      - description: The ID of the rule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: |
          A date formatted YYYY-MM-DD, to limit the transactions the actions will be applied to. If the start date is not present, it will be set to one year ago. If you use this field, both the start date and the end date must be present.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD, to limit the transactions the actions will be applied to. If the end date is not present, it will be set to today. If you use this field, both the start date and the end date must be present.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          Limit the triggering of the rule to these asset accounts or liabilities. Only asset accounts and liabilities will be accepted. Other types will be silently dropped.
        explode: true
        in: query
        name: accounts[]
        required: false
        schema:
          example:
          - 1
          - 2
          - 3
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "204":
          description: The rules in the group are executed. Due to the setup of this
            function (asynchronous job execution) the result cannot be displayed.
      summary: Fire the rule on your transactions.
      tags:
      - rules
  /api/v1/bills/{id}/attachments:
    get:
      description: This endpoint will list all attachments linked to the bill.
      operationId: listAttachmentByBill
      parameters:
      - description: The ID of the bill.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
          description: A list of attachments
      summary: List all attachments uploaded to the bill.
      tags:
      - bills
  /api/v1/bills/{id}/rules:
    get:
      description: This endpoint will list all rules that have an action to set the
        bill to this bill.
      operationId: listRuleByBill
      parameters:
      - description: The ID of the bill.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleArray'
          description: A list of rules
      summary: List all rules associated with the bill.
      tags:
      - bills
  /api/v1/bills/{id}/transactions:
    get:
      description: This endpoint will list all transactions linked to this bill.
      operationId: listTransactionByBill
      parameters:
      - description: The ID of the bill.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-12-31
          format: date
          type: string
        style: form
      - description: Optional filter on the transaction type(s) returned
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/TransactionTypeFilter'
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
          description: A list of transactions
      summary: List all transactions associated with the  bill.
      tags:
      - bills
  /api/v1/bills:
    get:
      description: This endpoint will list all the user's bills.
      operationId: listBill
      parameters:
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: |
          A date formatted YYYY-MM-DD. If it is are added to the request, Firefly III will calculate the appropriate payment and paid dates.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD. If it is added to the request, Firefly III will calculate the appropriate payment and paid dates.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-12-31
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BillArray'
          description: A list of bills
      summary: List all bills.
      tags:
      - bills
    post:
      description: Creates a new bill. The data required can be submitted as a JSON
        body or as a list of parameters.
      operationId: storeBill
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillStore'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BillStore'
        description: JSON array or key=value pairs with the necessary bill information.
          See the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BillSingle'
          description: New bill stored, result in response.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Store a new bill
      tags:
      - bills
  /api/v1/bills/{id}:
    delete:
      description: Delete a bill. This will not delete any associated rules. Will
        not remove associated transactions. WILL remove all associated attachments.
      operationId: deleteBill
      parameters:
      - description: The ID of the bill.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "204":
          description: Bill deleted.
        "404":
          description: No such bill
      summary: Delete a bill.
      tags:
      - bills
    get:
      description: Get a single bill.
      operationId: getBill
      parameters:
      - description: The ID of the bill.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      - description: |
          A date formatted YYYY-MM-DD. If it is are added to the request, Firefly III will calculate the appropriate payment and paid dates.
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD. If it is added to the request, Firefly III will calculate the appropriate payment and paid dates.
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-12-31
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BillSingle'
          description: The requested bill
        "404":
          description: Bill not found
      summary: Get a single bill.
      tags:
      - bills
    put:
      description: Update existing bill.
      operationId: updateBill
      parameters:
      - description: The ID of the bill.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BillUpdate'
        description: JSON array or key=value pairs with updated bill information.
          See the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BillSingle'
          description: Updated bill stored, result in response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Update existing bill.
      tags:
      - bills
  /api/v1/rules:
    get:
      description: List all rules.
      operationId: listRule
      parameters:
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleArray'
          description: A list of rules
      summary: List all rules.
      tags:
      - rules
    post:
      description: Creates a new rule. The data required can be submitted as a JSON
        body or as a list of parameters.
      operationId: storeRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleStore'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RuleStore'
        description: JSON array or key=value pairs with the necessary rule information.
          See the model for the exact specifications.
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingle'
          description: New rule stored, result in response.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Store a new rule
      tags:
      - rules
  /api/v1/rules/{id}:
    delete:
      description: Delete an rule.
      operationId: deleteRule
      parameters:
      - description: The ID of the rule.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "204":
          description: Rule deleted.
        "404":
          description: No such rule
      summary: Delete an rule.
      tags:
      - rules
    get:
      description: Get a single rule.
      operationId: getRule
      parameters:
      - description: The ID of the object.X
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingle'
          description: The requested rule
        "404":
          description: Rule not found
      summary: Get a single rule.
      tags:
      - rules
    put:
      description: Update existing rule.
      operationId: updateRule
      parameters:
      - description: The ID of the object.X
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RuleUpdate'
        description: JSON array with updated rule information. See the model for the
          exact specifications.
        required: true
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingle'
          description: Updated rule stored, result in response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation errors (see body)
      summary: Update existing rule.
      tags:
      - rules
  /api/v1/transactions:
    get:
      description: List all the user's transactions.
      operationId: listTransaction
      parameters:
      - description: Page number. The default pagination is 50.
        explode: true
        in: query
        name: page
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: |
          A date formatted YYYY-MM-DD. This is the start date of the selected range (inclusive).
        explode: true
        in: query
        name: start
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: |
          A date formatted YYYY-MM-DD. This is the end date of the selected range (inclusive).
        explode: true
        in: query
        name: end
        required: false
        schema:
          example: 2018-09-17
          format: date
          type: string
        style: form
      - description: Optional filter on the transaction type(s) returned.
        explode: true
        in: query
        name: type
        required: false
        schema:
          $ref: '#/components/schemas/TransactionTypeFilter'
        style: form
      responses:
        "200":
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
          description: A list of transactions.
      summary: |
        List all the user's transactions.
      tags:
      - transactions
    post:
      description: Creates a new transaction. The data required can be submitted as
        a JSON body or as a list of parameters.
      operationId: storeTransaction
      requestBody:
[...]
